#mainBanner {
    color: white;
    text-align: center;
    margin: auto;
    width: 60%;
    border: 3px solid white;
    padding: 10px;
}

#timer {
    color: white;
    text-align: center;
    margin: auto;
    width: 60%;
    border: 3px solid white;
    padding: 10px;
}

#crucible {
    color: white;
    text-align: center;
    margin: auto;
    width: 60%;
    border: 3px solid white;
    padding: 10px;
}


 